/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box;
}

/* BODY  */
body {
  font-family: "Spline Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 320px;
}

/* HEADER  */
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 0.5rem 2vw;
}
header img {
  width: 25%;
}

/* NAVIGATION STUFF GOES HERE  */
nav ul {
  display: none;
  margin: 0;
  padding: 0;
}
nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.25);
}
nav ul li a {
  display: block;
  padding: 0.75rem 2vw;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
nav ul.open {
  display: block;
}

#navWrapper {
  background-color: #265b7d;
}

nav button {
  position: relative;
  height: 44px;
  width: 44px;
  background: none;
  border: none;
}
nav button .line {
  position: absolute;
  height: 2px;
  width: 60%;
  left: 20%;
  background-color: white;
  transition: all 0.3s ease;
}
nav button .top {
  top: 29%;
}
nav button .middle {
  top: 48%;
}
nav button .bottom {
  top: 67%;
}

#hamburgerBtn.open .top {
  transform: rotate(45deg);
  top: 48%;
}
#hamburgerBtn.open .middle, #hamburgerBtn.open .bottom {
  transform: rotate(-45deg);
  top: 48%;
}

/* Main Content */
div.newsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.newsGrid span {
  font-size: 1rem;
  font-family: "Spline Sans", sans-serif;
}
div.newsGrid .bigNews {
  grid-column: 1/span 2;
}
div.newsGrid .otherNews, div.newsGrid .bigNews {
  padding: 0.5rem 2vw;
}
div.newsGrid .otherNews img, div.newsGrid .bigNews img {
  width: 100%;
}

/* MAIN  */
main p {
  padding: 0.5rem 2vw;
  color: #333;
  line-height: 125%;
}
main h1 {
  padding: 1rem 2vw 0.5rem 2vw;
  font-size: 1.5rem;
  color: #265b7d;
  font-weight: 300;
}
main .hero {
  width: 100%;
}
main .hero img {
  width: 100%;
  height: auto;
}

/* FOOTER  */
#footerWrapper {
  background-color: #265b7d;
}

footer {
  font-size: 0.85rem;
  padding: 1rem 0;
  color: white;
  text-align: center;
}
footer a {
  color: white;
}
footer div.footerGrid {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 35rem) {
  /* NAVIGATION STUFF GOES HERE  */
  nav button {
    display: none;
  }
  #primaryNav {
    display: flex;
  }
  nav ul {
    margin-left: 2%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  nav ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  nav ul li a {
    border: none;
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background 0.3s linear;
  }
  nav ul li a:hover {
    background: #204d69;
  }
  /* Main Content Here */
  div.newsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.newsGrid span {
    font-size: 1rem;
  }
  div.newsGrid .bigNews {
    grid-column: 1/span 3;
  }
  div.newsGrid .otherNews, div.newsGrid .bigNews {
    padding: 0.5rem 2vw;
  }
  div.newsGrid .otherNews img, div.newsGrid .bigNews img {
    width: 100%;
  }
  footer {
    display: grid;
  }
  footer div.footerGrid {
    grid-template-columns: 1fr 1fr;
  }
  footer div.footerGrid .tools {
    padding-top: 0.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  header, nav, main {
    max-width: 80rem;
    margin: auto;
  }
  /* NAVIGATION STUFF GOES HERE  */
  header, nav, footer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  /* Main Content Here */
  div.newsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  div.newsGrid span {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  div.newsGrid .otherNews, div.newsGrid .bigNews {
    padding: 0.5rem 2vw;
  }
  div.newsGrid .otherNews img, div.newsGrid .bigNews img {
    width: 100%;
  }
  div.newsGrid .bigNews {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
  }
  footer div.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}