/* NAVIGATION STUFF GOES HERE  */
nav button {display: none;}
#primaryNav {display: flex;}

nav {
    ul {
        margin-left: 2%;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
    ul li {
        border-right: 1px solid rgba(255,255,255,0.1);
    }
    ul li a {
        border: none;
        font-size: 1rem;
        padding: .9rem 1.2rem;
        color: rgba(255,255,255,1);
        text-decoration: none;

        -webkit-transition: background 0.3s linear;
        transition: background 0.3s linear;
    }

    ul li a:hover {background: darken($menuColor, 5%);}
}

/* Main Content Here */

div.newsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    span {font-size: 1rem;}
    .bigNews {grid-column: 1 / span 3;}

    .otherNews, .bigNews { padding: .5rem 2vw;}
    .otherNews img, .bigNews img { width: 100%;}
}