/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
}

/* HEADER  */
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
	padding: .5rem 2vw;

    img {
        width: 25%;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */
nav {
    ul {
        display: none;
        margin: 0;
        padding: 0;
    }

    ul li.active a {background-color: rgba(0,0,0,0.25);}

    ul li a {
        display: block;
        padding: .75rem 2vw;
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    ul li a:hover {
        background-color: rgba(0,0,0,0.5);
        transition: all .3s ease;
    }

    ul.open {display: block;}
}
#navWrapper {
    background-color: $menuColor;
}

nav button {
    position: relative;
    height: 44px;
    width: 44px;
    background: none;
    border: none;

    .line {
        position: absolute;
        height: 2px;
        width: 60%;
        left: 20%;
        background-color: white;
        transition: all .3s ease;
    }

    .top {top: 29%;}
    .middle {top: 48%;}
    .bottom {top: 67%;}
}

#hamburgerBtn.open {
    .top{
        transform: rotate(45deg);
        top: 48%;
    }

    .middle, .bottom {
        transform: rotate(-45deg);
        top: 48%;
    }
}

/* Main Content */

div.newsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    span {font-size: 1rem; font-family: $defaultFont;}
    .bigNews {grid-column: 1 / span 2;}

    .otherNews, .bigNews { padding: .5rem 2vw;}
    .otherNews img, .bigNews img { width: 100%;}
}

/* MAIN  */
main {
 	p {padding: .5rem 2vw; color: #333; line-height: 125%;}
	h1 {
        padding: 1rem 2vw .5rem 2vw; 
        font-size: 1.5rem; 
        color: $secondaryColor;
        font-weight: $lightWeight;
    }
    .hero {width: 100%;}
    .hero img {
        width: 100%;
        height: auto;
    }
} // end main



/* FOOTER  */
#footerWrapper {background-color: $menuColor; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: white;
	text-align: center;
	a{color: #eee;}

    div.footerGrid{
        display: grid;
        grid-template-columns: 1fr;
    }
}
